@font-face {
    font-family: 'Meursault Web';
    src: url('fonts/MeursaultWeb-CdBold (1).woff') format('woff');
    /* Add more src formats if necessary */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'General Sans';
    src: url('fonts/GeneralSans-Regular.woff') format('woff');
    /* Add more src formats if necessary */
    font-weight: normal;
    font-style: normal;
  }
/* styles.css */
.continuous-line-x { /* Width to span the entire width of the page */
    height: 2px; /* Height of the line */
    position: relative;
    background: #000; /* Line color */
    size: fitcontent;
    margin-top: 4vh;
    margin-left: 29vh;
    margin-right: 40px;
    top: 50%; /* Position it in the middle of the page vertically */
    transform: translateY(-1px); /* Correct for the line height to center it */
    max-width: 100%;
}

/* styles.css */
.continuous-line-y {
    width: 2px; /* Width of the vertical line */
    height: 100%; /* Height to span the entire height of the page */
    background: #000; /* Line color */
    position: fixed;
    margin-left: 4vh;/* Position it in the middle of the page horizontally */
    top: 0;
    transform: translateX(-1px); /* Correct for the line width to center it */
}

#firstpage{
    width: 100%;
    height: 100vh;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#heading h2{
    font-family: Meursault Web; 
    margin-top: -10px;
    font-size: 35px;
    padding-left: 8vh;
}

#heading #categories{
    padding-right: 5vh;
    font-family: General Sans;

}

#heading a{
    color: black;
    align-items: center;
    font-weight: 400;
    margin-left: 5vh;
    text-decoration: none;
}


#brand2{
    font-family: Meursault Web; 
    margin-top: -45px;
    font-size: 35px;
    padding-left: 8vh;
}

  #info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Meursault Web ;
    z-index: 2;
    padding-left: 10vh;
    padding-right: 7vh;
  }

  #info h3{
    margin-top: 2vh;
    font-size: 4vh;
  }

  .continuous-line-x2 { /* Width to span the entire width of the page */
    height: 2px; /* Height of the line */
    position: relative;
    background: #000; /* Line color */
    size: fitcontent;
    margin-top: -5vh;
    margin-left: 32vh;
    margin-right: 40px;
    transform: translateY(-1px); /* Correct for the line height to center it */
    max-width: 100%;
}

  #foot{
    display: flex;
    justify-content: space-between;
  } 

  #foot #logo{
    justify-content: space-between;
    margin-right: 5vh;
  }

  #foot img{
    margin-top: 255px;
    padding-left: 1vh;
  }

  #foot .brand2{
    font-family: Meursault Web;
    line-height: 1;
    font-size: 35px;
    margin-left: 8vh;
    margin-top: 30vh;
    size: fit-content;
  }

  /* styles.css */
.slider-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 300px;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#collab{
    display: flex;
    align-items: center;
    margin-left: 12vh;
    margin-top: 10vh;
}

#collab h3{
    font-family: Meursault Web;
    font-size: 4vh;
    padding-top: 3vh;
}

#collab .Cbutton{
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    width: 20vh;
    height: 7vh;
    font-size: 17px;
    color: black;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 2vh;
  }



#collaboration1{
    display: flex;
    margin-left: 9vh;
}

#area1{
    margin-left: 3vh;
}

#area1 h4{
    font-family: General Sans;
}

#area1 img{
    width: 25vh;
    opacity: .8;
}
  













